<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>charmi-web-application</display-name>
  <welcome-file-list>
    <welcome-file>search.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  
  <context-param>
  	<param-name>driverclass</param-name>
  	<param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>urlpattern</param-name>
  	<param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>root</param-value>
  </context-param>
  
  
  
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.royal.controller.FirstServlet</servlet-class>
  	
  	<init-param>
  		<param-name>lang1</param-name>
  		<param-value>C Language</param-value>
  	</init-param>

  	<init-param>
  		<param-name>lang2</param-name>
  		<param-value>C++ Language</param-value>
  	</init-param>
  	<init-param>
  		<param-name>lang3</param-name>
  		<param-value>Java Language</param-value>
  	</init-param>
  	<init-param>
  		<param-name>lang4</param-name>
  		<param-value>Python Language</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
 	<url-pattern>/xyz</url-pattern> 
  </servlet-mapping>
 
 <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
 	<url-pattern>/loginServlet</url-pattern> 
  </servlet-mapping>
  
  

	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>com.royal.controller.SecondServlet</servlet-class>
		
		<init-param>
  		<param-name>lang1</param-name>
  		<param-value>C Language</param-value>
  	</init-param>

  	<init-param>
  		<param-name>lang2</param-name>
  		<param-value>C++ Language</param-value>
  	</init-param>
  	<init-param>
  		<param-name>lang3</param-name>
  		<param-value>Java Language</param-value>
  	</init-param>
  	<init-param>
  		<param-name>lang4</param-name>
  		<param-value>Python Language</param-value>
  	</init-param>
  	
  	
  	
	</servlet>
  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
	<url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
		<servlet-name>ThridServlet</servlet-name>
		<servlet-class>com.royal.controller.ThridServlet</servlet-class>
	</servlet>
  <servlet-mapping>
  	<servlet-name>ThridServlet</servlet-name>
	<url-pattern>/ThridServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.royal.controller.SearchServlet</servlet-class>
	</servlet>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>